.c2 {
  background-color: #FFF0F5;
}
.c4 {
  background-color: #FFF0F5;
  z-index: 11;
}
.c8 {
  background-color: #FFF0F5;
  z-index: 12;
}
.c16 {
  background-color: #996AD6;
  color: #FFF0F5;
  z-index: 13;
}
.c32 {
  background-color: #996AD6;
  color: #FFF0F5;
  z-index: 14;
}
.c64 {
  background-color: #D25FD2;
  color: #FFF0F5;
  z-index: 15;
}
.c128 {
  background-color: #D25FD2;
  color: #FFF0F5;
  z-index: 16;
}
.c256 {
  background-color: #D235D2;
  color: #FFF0F5;
  z-index: 17;
}
.c512 {
  background-color: #A600A6;
  color: #FFF0F5;
  z-index: 18;
}
.c1024 {
  background-color: #6C006C;
  font-size: 6vh;
  color: #FFF0F5;
  z-index: 19;
}
.win {
  background-color: #996AD6;
  z-index: 20;
}
.c2048, .c4096, .c8192 {
  font-size: 6vh;
  color: #FFF0F5;
}
.c16384, .c32768, .c65536 {
  font-size: 5vh;
  color: #FFF0F5;
}
