@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 90vh;
  margin: 0;
  background-color: #111;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  position: relative;
  user-select: none;
}

.row {
  display: flex;
}

.score {
  position: absolute;
  top: 5%;
  color: #330570;
  font-size: 7vw;
  margin: 0;
  transition: transform 100ms linear,
              text-shadow 100ms linear,
              color 1s linear;
  transform: translate(0,0);
}
#score {
  transition: color 200ms linear;
}
#score.glow {
  color: #FFF0F5;
}


.cell {
  background-color: inherit;
  border: #330570 1.5vw solid;
  height: 20vw;
  width: 20vw;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}

.card {
  height: 20vw;
  width: 20vw;
  margin: 0;
  z-index: 10;
  display: flex;
  position: absolute;

  transition: left 250ms linear,
              top 250ms linear,
              transform 250ms linear,
              background-color 1000ms linear;
  transform: scale(1);

  border-radius: 20%;
  font-size: 11.5vw;
}

.card p {
  margin: auto;
}

.card.small {
  transform: scale(0.1);
}

.card.big {
  transform: scale(1.5);
}

.break {
  flex-basis: 100%;
  height: 0;
}